/* Got a refresher on how to center elements with https://www.w3.org/Style/Examples/007/center.en.html */
body {
  display: grid;
  grid-template-rows: 75px 150px 750px 80px;
  grid-template-columns: 480px;
  justify-content: center;
  margin: auto; 
}

header {
  
  background-color: blue;
}

aside {
  background-color: blueviolet;

}
#pairSection {
  display: grid;
  grid-template-rows: 125px 125px;
  grid-template-columns: 480px;
}
#quadSection {
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 250px 250px;
}

.pairDiv1 {
  background-color: brown;
}

.pairDiv2 {
  background-color: cadetblue;

}

.quadDiv1 {
  background-color: crimson;

}

.quadDiv2 {
  background-color: seagreen;

}
.quadDiv3 {
  background-color: green;

}
.quadDiv4 {
  background-color: purple;

}

footer {
  background-color: orange;

}


@media (min-width: 600px) {
  body {
    display: grid;
    width: 960px;
    grid-template-columns: 200px 760px;
    grid-template-rows: 100px 200px 250px 150px;
    justify-content: center;
  }
  header {
    display: grid;
    background-color: yellowgreen;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  aside {
    background-color: palevioletred;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  
  #pairSection {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-columns: 380px 380px;
    grid-template-rows: 200px;
  }
  .pairDiv1 {
    background-color: orange;
  }
  
  .pairDiv2 {
    background-color: pink;
  }
  #quadSection {
    display: grid;
    width: 500px;
    grid-row: 3 / 3;
    grid-column: 2 /3;
    grid-template-columns: 190px 190px 190px 190px;
    grid-template-rows: 250px;
  }
  .quadDiv1 {
    background-color: skyblue;
  }
  
  .quadDiv2 {
    background-color: green;
  }
  .quadDiv3 {
    background-color: purple;
  }
  .quadDiv4 {
    background-color: teal;
  }
  
  footer {
    background-color: yellow;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
    
}

@media (min-width: 1000px) {
  header {
  
    background-color: blue;
  }
  
  aside {
    background-color: blueviolet;
  
  }
  
  .pairDiv1 {
    background-color: brown;
  }
  
  .pairDiv2 {
    background-color: cadetblue;
  
  }
  
  .quadDiv1 {
    background-color: crimson;
  
  }
  
  .quadDiv2 {
    background-color: seagreen;
  
  }
  .quadDiv3 {
    background-color: green;
  
  }
  .quadDiv4 {
    background-color: purple;
  
  }
  
  footer {
    background-color: orange;
  
  }
  
}

